services:
  yuuripython:
    # image: yuuripython
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
    container_name: yuuri
    networks:
      - public

networks:
  public:
    external: true